@charset "utf-8";



.Accueil_box_principale
{
	display: flex;
	justify-content: space-between;
}


.main_accueil
{
	display: flex;
	justify-content: space-between;
	color: #e0e0eb;
	justify-content: center;
	border-left: 2px solid red;
	border-right: 2px solid red;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	margin-left: 100px;
	text-align: center;
}

h2
{
	text-decoration: underline;
	color: red;
}

.1
{
	display: flex;
	color: #e0e0eb;
	flex-direction: column;
	justify-content: center;
	align-item: center;
	border-left: 2px solid red;
	border-right: 2px solid red;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.main2_accueil
{
	display: flex;
	justify-content: space-between;
	color: #e0e0eb;
	justify-content: left;
	border-left: 2px solid red;
	border-right: 2px solid red;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	margin-left: 100px;
	text-align: center;
}

.2
{
	display: flex;
	color: #e0e0eb;
	flex-direction: column;
	justify-content: left;
	align-item: center;
	border-left: 2px solid red;
	border-right: 2px solid red;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.main3_accueil
{
	display: flex;
	justify-content: space-between;
	color: #e0e0eb;
	justify-content: right;
	border-left: 2px solid red;
	border-right: 2px solid red;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	margin-right: 100px;
	text-align: center;
}

.3
{
	display: flex;
	color: #e0e0eb;
	flex-direction: column;
	justify-content: right;
	align-item: center;
	border-left: 2px solid red;
	border-right: 2px solid red;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}



























