@charset "utf-8";


.box_rules
{
	display: flex;
	flex-flow: row wrap;
}
h2
{
	color: red;
	text-decoration: underline;
}

.main_1_rules
{
	margin-left: 15px;
	
	text-align: center;
	
	border-right: 5px solid red;
	border-left: 5px solid red;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-top: 5px solid red;
	
	margin-left: 100px;
	
	margin-top: 50px;
}

.main_1_content
{
	text-align: center;
	color: #e0e0eb;
}

.main_2_rules
{
	margin-left: 15px;
	
	text-align: center;
	
	border-right: 5px solid blue;
	border-left: 5px solid blue;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-top: 5px solid blue;
	
	margin-top: 100px;
}

.main_2_content
{
	text-align: center;
	color: #e0e0eb;
}

.main_3_rules
{
	margin-left: 15px;
	
	text-align: center;
	
	border-right: 5px solid red;
	border-left: 5px solid red;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 700px;
	border-top: 5px solid red;
	
	margin-left: 100px;
	
	margin-top: 50px;
}

.main_3_content
{
	text-align: center;
	color: #e0e0eb;
}

.main_4_rules
{
	margin-left: 15px;
	
	text-align: center;
	
	border-right: 5px solid blue;
	border-left: 5px solid blue;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-top: 5px solid blue;
	
	margin-top: 100px;
}

.main_4_content
{
	text-align: center;
	color: #e0e0eb;
}

