@charset "utf-8";

.main_regle
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.titre_intimidation
{
	display: flex;
	justify-content: center;
	align-item: center;
	
	color: #e0e0eb;
	text-decoration: underline;
}

.intimidation
{
	display: flex;
	justify-content: center;
	align-item: center;
	flex-direction: column;
	
	color: #e0e0eb;
	text-align: center;
	
	border-top: 5px solid red;
	border-bottom: 5px solid red;
	
	max-with: 200px;
	padding-bottom: 50px;
	margin-top: -180px;
}

.titre_vie_privée
{
	display: flex;
	justify-content: center;
	align-item: center;
	
	color: #e0e0eb;
	text-decoration: underline;
}

.vie_privée
{
	display: flex;
	justify-content;
	align-item: center;
	flex-direction: column;
	
	color: #e0e0eb;
	text-align: center;
	
	border-top: 5px solid blue;
	border-bottom: 5px solid red;
	border-radius: 15px;
}






















